.newExpense {
  display: flex;
  flex-direction: column;
  width: 400px;
  align-items: center;
}

.categoryList {
  margin-top: 5px;
  margin-bottom: 10px;
  width: 250px;
  --shadow-color: 0deg 0% 60%;
  box-shadow: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
    0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
    2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
    5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
}

.amount {
  width: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.amount input {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.expense {
  border: 1px solid #cccccc;
  border-radius: 5px;
  height: 35px;
  width: 140px;
  padding-left: 10px;
  text-align: left;
  --shadow-color: 0deg 0% 60%;
  box-shadow: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
    0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
    2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
    5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
}
