.darkMode {
  width: 30px;
  height: 30px;
  border-radius: 10%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.darkMode:hover {
  background-color: var(--dark_mode_button);
  cursor: pointer;
}
