.wrapper {
  margin: 0 auto;
  border-style: solid;
  border-radius: 3px;
  margin: 5px;
  height: 40px;
  color: white;
  cursor: pointer;
  border: 0;
  background-color: var(--color-light-green);
}

.wrapper:hover {
  background-color: var(--color-light-green-400);
}

.google {
  background-color: var(--color-button-google);
}

.google:hover {
  background-color: var(--color-button-light-red);
}

.demo {
  background-color: var(--color-button-demo);
}

.demo:hover {
  background-color: var(--color-button-demo-hover);
}

.update {
  background-color: var(--color-button-light-red);
  padding: 0 1em;
  border-radius: 20px;
}

.update:hover {
  background-color: var(--color-button-update-hover);
}
