$color-light-green: #29c0a9;
$color-light-green-50: #99e9dd;
$color-light-green-100: #80e4d5;
$color-light-green-200: #66decc;
$color-light-green-300: #4dd9c4;
$color-light-green-400: #34d4bb;
$color-light-green-500: #29c0a9;
$color-light-green-600: #24a793;
$color-light-green-700: #1e8e7d;
$color-light-green-800: #197466;
$color-light-green-900: #135b50;
$color-purple-heart: #5229c0;
$color-purple-heart-50: #af99e9;
$color-purple-heart-100: #9b80e4;
$color-purple-heart-200: #8766de;
$color-purple-heart-300: #734dd9;
$color-purple-heart-400: #5f34d4;
$color-purple-heart-500: #5229c0;
$color-purple-heart-600: #4724a7;
$color-purple-heart-700: #3c1e8e;
$color-purple-heart-800: #321974;
$color-purple-heart-900: #27135b;
$color-hibiscus: #c02964;
$color-hibiscus-50: #e999b8;
$color-hibiscus-100: #e480a7;
$color-hibiscus-200: #de6695;
$color-hibiscus-300: #d94d84;
$color-hibiscus-400: #d43472;
$color-hibiscus-500: #c02964;
$color-hibiscus-600: #a72457;
$color-hibiscus-700: #8e1e4a;
$color-hibiscus-800: #74193d;
$color-hibiscus-900: #5b132f;
$color-lima: #78c029;
$color-lima-50: #c3e999;
$color-lima-100: #b4e480;
$color-lima-200: #a5de66;
$color-lima-300: #96d94d;
$color-lima-400: #87d434;
$color-lima-500: #78c029;
$color-lima-600: #68a724;
$color-lima-700: #588e1e;
$color-lima-800: #497419;
$color-lima-900: #395b13;
$color-button: #29c0a9;
$color-button-500: #29c0a9;
$color-button-google: #f84a4a;
$color-button-demo: #a9a6a6;
$color-button-light-red: #ee7874;
$color-text: #ffffff;
$color-text-white: #ffffff;
$color-text-green: #028d78;
$font-size-sm: 1rem;
$font-size-md: 1.2rem;
$font-size-lg: 1.4rem;
$font-size-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
$font-size-md: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
$font-size-lg: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
$font-size-dark-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);

:root {
  --color-light-green: #29c0a9;
  --color-light-green-50: #99e9dd;
  --color-light-green-100: #80e4d5;
  --color-light-green-200: #66decc;
  --color-light-green-300: #4dd9c4;
  --color-light-green-400: #34d4bb;
  --color-light-green-500: #29c0a9;
  --color-light-green-600: #24a793;
  --color-light-green-700: #1e8e7d;
  --color-light-green-800: #197466;
  --color-light-green-900: #135b50;
  --color-purple-heart: #5229c0;
  --color-purple-heart-50: #af99e9;
  --color-purple-heart-100: #9b80e4;
  --color-purple-heart-200: #8766de;
  --color-purple-heart-300: #734dd9;
  --color-purple-heart-400: #5f34d4;
  --color-purple-heart-500: #5229c0;
  --color-purple-heart-600: #4724a7;
  --color-purple-heart-700: #3c1e8e;
  --color-purple-heart-800: #321974;
  --color-purple-heart-900: #27135b;
  --color-hibiscus: #c02964;
  --color-hibiscus-50: #e999b8;
  --color-hibiscus-100: #e480a7;
  --color-hibiscus-200: #de6695;
  --color-hibiscus-300: #d94d84;
  --color-hibiscus-400: #d43472;
  --color-hibiscus-500: #c02964;
  --color-hibiscus-600: #a72457;
  --color-hibiscus-700: #8e1e4a;
  --color-hibiscus-800: #74193d;
  --color-hibiscus-900: #5b132f;
  --color-lima: #78c029;
  --color-lima-50: #c3e999;
  --color-lima-100: #b4e480;
  --color-lima-200: #a5de66;
  --color-lima-300: #96d94d;
  --color-lima-400: #87d434;
  --color-lima-500: #78c029;
  --color-lima-600: #68a724;
  --color-lima-700: #588e1e;
  --color-lima-800: #497419;
  --color-lima-900: #395b13;
  --color-button: #29c0a9;
  --color-button-500: #29c0a9;
  --color-button-google: #f84a4a;
  --color-button-demo: #a9a6a6;
  --color-button-light-red: #ee7874;
  --color-text: #ffffff;
  --color-text-white: #ffffff;
  --color-text-green: #028d78;
  --font-size-sm: 1rem;
  --font-size-md: 1.2rem;
  --font-size-lg: 1.4rem;
  --box-shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --box-shadow-md: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --box-shadow-lg: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --box-shadow-dark-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}