/* @import url('../../../.mirrorful/test.css'); */

.nav {
  background-color: var(--nav_background_color);
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
    0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
    2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
    5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
}

.logo {
  margin-left: 20px;
  color: var(--color-text-white);
  cursor: pointer;
}

.profile:hover {
  width: 200px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profile:hover button {
  display: block;
}

.profile {
  width: 200px;
  display: flex;
  justify-content: center;
  margin-left: -50px;
  color: var(--color-text-white);
}

.profile:hover p {
  position: absolute;
  text-decoration: underline;
  color: var(--color-text-white);
}

.profile button {
  display: none;
}

.profile:hover .subMenu {
  margin-top: 145px;
  height: 100px;
  width: 100%;
  background-color: var(--nav_profile_background_color);
}
