.nav {
  background-color: #29c0a9;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  --shadow-color: 0deg 0% 60%;
  box-shadow: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
    0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
    2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
    5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
}

.pp {
  height: 45px;
  border-radius: 50%;
}

.nav a {
  text-decoration: none;
  color: white;
  margin-left: 10px;
}

.nav img {
  margin-right: 10px;
}

.profile_card {
  display: flex;
  justify-content: center;
}

.profile_card div {
  background-color: white;
  width: 30%;
  height: 500px;
  text-align: center;
  padding-top: 40px;
  border-radius: 20px;
  margin-top: 40px;
}

.profile_card img {
  border-radius: 50%;
}

.profile_card button {
  background: #29c0aa;
  border: none;
  padding: 20px 20px;
  border-radius: 5px;
  margin-top: 20px;
}

.profile_name {
  margin-right: 10px;
  width: 45px;
  height: 45px;
  background-color: #e0fffe;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
}
